<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
} %>
<!DOCTYPE html>
<html>
<%
var appointment_data_js = JSON.stringify(appointment);
getAppointmentStatuses = function() {
  appointmentStatuses = {
    "zero": {
      "name" : "Pending",
      "class" : "pending",
      "description" : "Appointment has not yet been accepted or denied by relevant staff member.",
    },
    "one": {
      "name" : "Accepted",
      "class" : "accepted",
      "description" : "Appointment has been accepted by relevant staff member.",
    },
    "two": {
      "name" : "Closed",
      "class" : "closed",
      "description" : "Appointment has been fulfilled and dealt with.",
    },
    "three": {
      "name" : "Denied",
      "class" : "denied",
      "description" : "Appointment has been denied by relevant staff member.",
    },
    "four": {
      "name" : "Cancelled",
      "class" : "cancelled",
      "description" : "Appointment has been cancelled by either parent or teacher.",
    }
  }
  return appointmentStatuses;
}

getStatus = function(code) {
  statuses = getAppointmentStatuses();
  _status = "";
  switch(code) {
    case 0:
      _status = statuses.zero;
      break;
    case 1:
      _status = statuses.one;
      break;
    case 2:
      _status = statuses.two;
      break;
    case 3:
      _status = statuses.three;
      break;
    case 4:
      _status = statuses.four;
      break;
    default:
      _status = "N/A";
      break;
  }
  return _status;
}
%>
<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
              <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
                <% include ../templates/nav.ejs %>
                <% if(admin && admin == true) { %>
                  <% include ../templates/admin_nav.ejs %>
                <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Appointments </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-account" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Appointment Details</h1>
                        <p class="main-content-area-header-para">All your appointment details in once place....</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-account">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 class="appointment-details-heading">Participants </h4>
                                    <div id="participant-1" class="participant">
                                        <h4 id="teacher" class="participant-title">N/A</h4>
                                        <p class="participant-type">TEACHER </p><a href="/main/view_profile/<%= appointment.teacher_id %>" class="participant-link"><i class="glyphicon glyphicon-user"></i>View Profile</a></div>
                                    <div id="participant-2" class="participant">
                                        <h4 id="parent" class="participant-title">N/A</h4>
                                        <p class="participant-type">PARENT </p><a href="/main/view_profile/<%= appointment.parent_id %>" class="participant-link"><i class="glyphicon glyphicon-user"></i>View Profile</a></div>
                                    <div id="participant-3" class="participant">
                                        <h4 id="student" class="participant-title">N/A</h4>
                                        <p class="participant-type">STUDENT </p><a href="/main/view_student/<%= appointment.student_id %>" class="participant-link"><i class="glyphicon glyphicon-user"></i>View Profile</a></div>
                                </div>
                                <div class="col-md-8 details">
                                    <h4 class="appointment-details-heading">Details </h4>
                                    <p class="appointment-details">Date: <%= appointment.date %></p>
                                    <p class="appointment-details">Time: <%= appointment.time %></p>
                                    <p class="appointment-details-status <%= getStatus(appointment.status).class %>"><%= getStatus(appointment.status).name %></p>
                                    <hr />
                                    <p class="appointment-label-info" style="color:#fff">Description:</p>
                                    <p class="appointment-info"><%= appointment.additional_details %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/view_appointment.ejs %>
</body>

</html>
